<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-cat.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <title>Contact</title>
</head>
<body class="body">
    <header class="header">
        <nav class="nav">
            <div class="nav__column_left">
                <a href="#" class="nav__link1">Контрагентам</a>
                <a href="#" class="nav__link2">Дизайнерам</a>
                <a href="#" class="nav__link3">Вакансии</a>
            </div>
            <a href="../index.html" class="nav__logo-link">
                <img src="../img/icon/logo.png" class="nav__logo">
            </a>
            <div class="nav__search">
                <i class="nav__icon fa fa-search"></i>
                <p class="nav__label">Поиск</p>
            </div>
            <div class="nav__account-links">
                <a href="#" class="nav__link4">Вход/Регистрация</a>
                <a href="#" class="nav__link-account"> <i class="fa fa-user"></i> </a>
                <a href="#" class="nav__link-like"> <i class="fa fa-heart"></i> </a>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="path">
            <a href="../index.html" class="path__link">Главная</a>
            <a href="#" class="path__link_text">Контакты</a>
        </div>
        <h2 class="cont_text">Контакты</h2>
        <div class="contacts">
            <div class="contacts__item1 con-items">
                <h3 class="title_text">Главный офис</h3>
                <ul>
                    <li class="item1__list1">Невский 140, офис 1-5</li>
                    <li>Невский 140, офис 1-5</li>
                </ul>
            </div>
            <div class="contacts__item2 con-items">
                <h3 class="title_text">Телефоны</h3>
                <ul>
                    <li class="item2__list2">8 (812) 458-56-45</li>
                    <li>8-911-878-00-00</li>
                </ul>
            </div>
            <div class="contacts__item3 con-items">
                <h3 class="title_text">E-mail</h3>
                <ul>
                    <li class="item3__list3">office@ojjo.com</li>
                    <li>sales@ojjo.com</li>
                </ul>
            </div>
            <div class="contacts__item4 con-items">
                <h3 class="title_text">Доп. адреса</h3>
                <ul>
                    <li class="item4__list4">Невский 142, офис 1-5</li>
                    <li>Загородный 145, офис 11-15</li>
                </ul>
            </div>
        </div>
        <img src="../img/img/contact__maps.jpg" class="maps">
    </main>
    <footer class="footer">
            <div class="columns">
                <div class="columns__item-1">
                    <h3 class="h3_border">Полезные ссылки</h3>
                    <p class="list-text">Доставка</p>
                    <p class="list-text">Оплата</p>
                    <p class="list-text">Акции</p>
                    <p class="list-text">Политика конфиденциальности</p>
                </div>
                <div class="columns__item-2">
                    <h3 class="h3_border">оплата</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.</p>
                    <img src="../img/icon/Rectangle 13.svg"><img src="../img/icon/Rectangle 14.svg">
                </div>
                <div class="columns__item-3">
                    <h3 class="h3_border">контакты</h3>
                    <p class="list__phone">8 (812) 234-56-55</p>
                    <p class="list__phone">8 (812) 234-56-55</p>
                    <p class="list__mail">ojjo@ojjo.ru</p>
                </div>
                <div class="columns__item-4">
                    <h3 class="h3_border">социальные сети</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.</p>
                    <img src="../img/icon/carbon_logo-youtube.svg"><img src="../img/icon/entypo-social_vk.svg">
                    <img src="../img/icon/bx_bxl-facebook.svg"><img src="../img/icon/bx_bxl-telegram.svg">
                    <img src="../img/icon/simple-icons_etsy.svg">
                </div>
            </div>
            <div class="last-line">
                <p>(c) 2020 OJJO jewelry</p>
                <p>Договор публичной офферты</p>
                <p>Контрагентам</p>
                <p class="text_underline">Сделано Figma.info</p>
            </div>
        </footer>
</body>
</html>